<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Photo Sync" icon-off="ion-images" icon-on="ion-images" href="#/tab/sync">
    <ion-nav-view name="tab-sync"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Photo View" icon-off="ion-images" icon-on="ion-images" href="#/tab/view">
    <ion-nav-view name="tab-view"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Setting" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/setting">
    <ion-nav-view name="tab-setting"></ion-nav-view>
  </ion-tab>


</ion-tabs>
